body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, a, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 15%;
} 

.nav-fixed {
  width: 100%;
  position: fixed;
}

.logo {
  margin-right: auto;
  cursor: pointer
}

.nav-links {
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}


.nav-links li a {
  transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;;
}


button {
  color: white;
  padding: 9px 25px;
  background-color: rgb(0,136,169,1);
  border:none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-left: 10px;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.content {
  height:3000px;
}