body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, a, button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #333;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 15%;
} 

.nav-fixed {
  width: 100%;
  position: fixed;
}

.logo {
  margin-right: auto;
  cursor: pointer
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px 0px 0px;
  position: relative;
}

.nav-links > li > ul {
  display: none;
  position: absolute;
  padding-inline-start: 0;
  padding-top: 12px;
}

.nav-links > li:hover > ul {
  display: flex; 
  flex-direction: row;
}

.nav-links > li > ul > li {
  display: block;
  width: 120px
}

.nav-links > li > ul > li > ul{
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;

}

.nav-links > li > ul > li > ul > li {
  display: block;
  padding: 12px 0 12px 2px;
  width: 130px;
}

.nav-links li a {
  transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;;
}

button {
  order: 2;
  color: white;
  padding: 9px 25px;
  background-color: rgb(0,136,169,1);
  border:none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin-left: 10px;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.content {
  height:3000px;
}